.body_background 
{
	text-align: center;
    background-position: center;
    background-size:contain;
	background:url(Grass.jpg);
}
#myCanvas
{
    border-width:10px;
    border-style:ridge;
	background-color:forestgreen;
	text-align: center;
}


#hd3{
	display: inline-block;
	color: red;
	background-color: aliceblue;
	font-family: cursive;
}
